# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#pycharm
.idea/

#mac
.DS_Store

#win
**/__pycache__

#project_out_poetry
poetry.lock

#project_out_setup
build/
console_app.egg-info/
*.egg
